@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  border: border-box;
  font-family: 'Roboto Mono', monospace;
}

section{
  margin: 2%;

}

p#contagem{
  font-size: 10vh;
  font-weight: bold;
}

.display-contagem{
  font-size: 366%;
}

main{
  text-align: center;

  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;

  height: 100vh;
  width: 100vw;
}

button {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

footer{
  position: absolute;
  top: 88vh;
  left: 80vw;
}

footer p{
  margin: 0 0 5px 0;

  font-weight: 400;
}

@media (min-width: 768px) {
  button {
    padding: 0.25em 0.75em;
  }
}

@media (max-width: 500px) {
  .buttons {
    display: flex;
    flex-direction: column-reverse;
  }

  button{
    margin: 0.25em;
    width: 250px;
  }
}